* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    background-color: #f2f2f2;
  }
  
  .container {
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    color: rgb(0, 0, 10);
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .Matieres, .Competence, .Groupe, .Promos, .Enseignant {
    display: flex;
    justify-content: center;
  }
  
  .matiere, .competence, .groupe, .promo, .enseignant, .detailpromo{
    width: 500px;
    padding: 10px;
    margin: 5px;
    background-color: #4c6daf;
    color: #fff;
    cursor: pointer;
    text-align: center;
  }
  
  .message {
    text-align: center;
  }