header {
    background-color: #fdfdfd;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  body {
    margin: 0;
  }

  .menu-item {
    border: 2px solid #000000;
    padding: 5px;
    margin: 35px;
  }
  
  .menu-item a {
    color: #030303;
    text-decoration: none;
  }

  body {
    background-color: rgb(203, 189, 189);
  }